body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

/* .profile-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
} */

.loading {
  font-size: 18px;
  color: #333;
}

.hidden {
  display: none;
}

.profile-card {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 300px;
}

.profile-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 15px;
}

h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

p {
  font-size: 18px;
  color: #666;
}

.error {
  color: red;
  font-size: 18px;
}