<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/assets/profile/style.css">
  <title>Document</title>
</head>
<body>
    <% for(let [index,d] of data.entries() || []){  %>

      <div class="profile-container">
        <!-- <div id="loading" class="loading">Loading profile...</div> -->
        <div id="profileCard" class="profile-card">
          <img id="profileImage" src="<%= d.image %>" alt="Profile Picture" class="profile-image">
          <h2 id="profileName"><%= d.name %></h2>
          <p id="profileGender"><%= d.gener %></p>
        </div>
        <div id="error" class="error hidden">Failed to load profile data.</div>
      </div>



     <%} %>
</body>
</html>